<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Si necesitas definir secciones adicionales, agrégalas aquí -->
	</configSections>
	<connectionStrings>
  <add name="HOSPIPLUS" connectionString="workstation id=HOSPIPLUS.mssql.somee.com;packet size=4096;user id=Asce_12_SQLLogin_1;pwd=fjhhqvclrl;data source=HOSPIPLUS.mssql.somee.com;persist security info=False;initial catalog=HOSPIPLUS;TrustServerCertificate=True" />
  <add name="HospiPlus.Properties.Settings.conexionDB" connectionString="workstation id=HOSPIPLUS.mssql.somee.com;packet size=4096;user id=Asce_12_SQLLogin_1;pwd=fjhhqvclrl;data source=HOSPIPLUS.mssql.somee.com;persist security info=False;initial catalog=HOSPIPLUS;TrustServerCertificate=True" />
 </connectionStrings>
</configuration>

