<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Si necesitas definir secciones adicionales, agrégalas aquí -->
	</configSections>
	<connectionStrings>
  <add name="HOSPIPLUS" connectionString="Data Source= VLADIMIR\SQLEXPRESS ;Database=HOSPIPLUS2;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="HospiPlus.Properties.Settings.conexionDB" connectionString="Data Source=VLADIMIR\SQLEXPRESS;Initial Catalog=HOSPIPLUS2;Integrated Security=True;Encrypt=False;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
